#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.formCep{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 16px;
}

div{
  gap: 16px;
  display: flex;
  flex-direction: column;
  align-items:center;
}